.card {
    height: 13.5rem;
    width: 9.9375rem;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    cursor: pointer;
}

.card-img-content {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px;
    background-color: var(--color-white);
    color: var(--color-black)
  }

.card-image {
    width: 100%;
    height: 10.625rem;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    overflow: hidden;
}

.content {
    padding: 0px 8px 8px 8px;
    text-align: left;
}

.title {
    font-size: medium;
}